.git
.idea
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
coverage.xml
htmlcov

.venv
venv
**/.venv
**/venv
**/__pycache__
**/*.py[cod]

**/.env
**/.DS_Store

auth_service/.pytest_cache
projects_service/.pytest_cache
portfolio_service/.pytest_cache
