DB_HOST=auth_db
DB_PORT=5432
DB_USER=user
DB_PASS=password
DB_NAME=auth_db

REDIS_HOST=auth_redis
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET=change_me_to_at_least_32_random_characters
JWT_ALGORITHM=HS256
JWT_ISSUER=mateforge-auth
JWT_AUDIENCE=mateforge-api

AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=30
VERIFY_ACCESS_TOKEN_EXPIRE_HOURS=12
REFRESH_TOKEN_EXPIRE_DAYS=30

MAIL_USERNAME=example@example.com
MAIL_PASSWORD=change_me
MAIL_FROM=example@example.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_STARTTLS=true
MAIL_SSL_TLS=false

PUBLIC_APP_URL=http://localhost:8000
ALLOWED_ORIGINS=["http://localhost:3000"]
GRPC_SERVICE_TOKEN=change_me_to_at_least_32_random_characters
