DB_HOST=projects_db
DB_PORT=5432
DB_USER=user
DB_PASS=password
DB_NAME=projects_db

REDIS_HOST=projects_redis
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET=change_me_to_the_same_secret_as_auth_service
JWT_ALGORITHM=HS256
JWT_ISSUER=mateforge-auth
JWT_AUDIENCE=mateforge-api

USERS_SERVICE_URL=http://auth_service:8000
AUTH_GRPC_HOST=auth_service
AUTH_GRPC_PORT=50051
AUTH_GRPC_TIMEOUT_SECONDS=2
GRPC_SERVICE_TOKEN=change_me_to_the_same_service_token_as_auth_service

ALLOWED_ORIGINS=["http://localhost:3000"]
